
body.background{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle{
    margin-left: 30%;
    margin-top: 30px;
    width: 40%; 
    height: 500px; 
    border-radius: 50%;
    background-color: none;
    text-align: center;
    font-size: 16pt;
    padding: 100px;
}

#newUserForm{
    position: absolute;
    top: 100px;
    left: 35%;
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 16pt;
    display: none;
}

#newUserSuccess{
    position: absolute;
    top: 230px;
    left: 35%;
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 16pt;
    display: none;
}

.closeBox{
    position: absolute;
    top: 5px;
    right: 10px;
}

.newUserInput{
    width: 100%;
    margin: 5px;
    border: none;
    height: 2em;
}

.loginInput{
    height: 2em;
    border-radius: 10px;
    opacity: 1.0;
    text-align: center;

}

.logo {
    font-size: 36pt; 
    font-style: none; 
    vertical-align: center;
    font-family: impact; 
    font-weight: none;
}

.header{
	background-color: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.blue{
	background-color: lightblue;
}

.clearfix {
    overflow: auto;
	padding: 15px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-0px;
}

.lessonControl{
    width: auto;
    margin: 10px;
    color: red;
}
.lessonButton{
    width: auto;
    margin: auto;
}

.lessonElement{
    box-sizing: border-box; 
    position: absolute;
    right: -50%;
    width: 50%;
    display:none;
    padding: 30px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.testResult{
    box-sizing: border-box; 
    position: absolute;
    right: 25%;
    width: 50%;
    top: 175px;
    padding: 30px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.statusBar{
    box-sizing: border-box; 
    width: 33%;
    margin: auto;
    background-color: #f1f1f4;
    margin-top: 10px;
    height: 25px; 
    font-size: 0px;
    border-radius: 10px;
}

.statusText{
    width: 200px; 
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

.statusElement{
    box-sizing: border-box; 
    width: 25%;
    height: 100%;
    background-color: lightblue;
    display: inline-block;
}

.firstStatusElement{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lastStatusElement{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.verificationText{
    font-style: italic;
    font-weight: bold;
}

.lessonHintsHeader{
    box-sizing: border-box; 
    position: absolute;
    width: 300px;
    right: 0%;
    top: 175px;
    height: 50px;
    color: black;
    font-size: 14pt !important;
    font-style: italic !important;
    border-top-left-radius: 5px; 
    text-align: center;
    font-weight: bold !important;
    background-color:  #f1f1f4;
    padding: 10px !important;
}

.lessonHintsContent{
    box-sizing: border-box; 
    position: absolute;
    width: 300px;
    right: 0%;
    top: 225px;
    color: black;
    font-size: 12pt;
    font-style: italic;
    border-bottom-left-radius: 5px; 
    text-align: left;
    font-weight: bold;
    background-color:  #f1f1f4;
    padding: 10px;
}

.submitButton{
    width: 150px;
}

table{
    font-size: 12pt;
    width: 100%;
    overflow: auto;
    margin: 5px !important;
}
td{
    text-align: left !important;
}

td.center {
    text-align: center;
}

td.indexTable{
    overflow: hidden;
    height: 3em;
}

tr:nth-child(odd) {
    background-color: lightblue;
}
tr:nth-child(even) {
    background-color: white;
}

table.styledTable td {
    padding: 5px;
    margin: 5px;
}
table.styledTable th {
    background-color: darkgrey;
    padding: 5px;
    border-bottom: 1px black solid;
}

table.styledTable{
    table-layout: fixed;
    width: 100%;
}

table.editTable{
    font-size: 6pt;
}

.profileBlock{
    box-sizing: border-box; 
    margin-left: 25%;
    display: table;
    width: 50%;
    margin-top: 30px;
    padding: 30px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.wideBlock{
    box-sizing: border-box; 
    margin-left: 15%;
    width: 70%;
    margin-top: 30px;
    padding: 30px;
    font-size: 18pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.veryWideBlock{
    box-sizing: border-box; 
    margin-left: 5%;
    width: 90%;
    margin-top: 30px;
    padding: 30px;
    font-size: 16pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.fullWidthBlock{
    box-sizing: border-box; 
    margin-left: 0%;
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    font-size: 16pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.sameLine{
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.moduleForm{
    display: none;
    width: 100%;
}

.courseForm{
    display: none;
    width: 100%;
}

.input {
    /* top left bottom right */
    margin: 10px 0px 10px 0px;
}

.addModuleElement{
    display: none;
    margin: 10px 0px 5px 0px;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 10px;
}

.question{
    font-style: italic;
}

.courseBlock{
    max-height: 250px;
    overflow: auto;
    font-size: 14pt;
}

.courseLink{
    width: 80%;
    margin: 5px;
}

.red-text{
    color: red;
    font-style: italic;
    font-size: 12pt;
}

.btn-row{
    padding: 5px 3px 5px 3px !important;
    display: inline-block;
    margin: 0px 5px 10px 0px;
}

.editResponseText{
    font-style: italic;
    color: green;
    font-size: 75%;
    font-weight: bold;
}

.sideNavBar{
    margin: 30px 0px 0px 0px;
    background-color: lightgrey;
    size: absolute;
    height: 100vh;
    width: 25%;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;

}

.roundedInput{
    font-size: 14pt;
    border-radius: 5px;
    width: 300px;
    height: 2em;
}

.disabled{
    background-color: lightgrey;
}

.editBlock{
    box-sizing: border-box; 
    margin-left: 10%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 16pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
    border-top-right-radius:  10px;
    background-color: #f1f1f4;
}

.editTabs{
    box-sizing: border-box; 
    margin-left: 10%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
}

.tab{
    margin: 0px;
    padding: 10px !important;
    color: black;
    font-weight: bold;
    /*top left, clockwise*/
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-color: lightgrey;
}

.Hide{
    display: none;
}

.center{
    background-color: red;
    margin-left:auto !important;
}