
body.background{
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
}

.circle{
    margin-left: 30%;
    margin-top: 30px;
    width: 40%; 
    height: 500px; 
    border-radius: 50%;
    background-color: none;
    text-align: center;
    font-size: 16pt;
    padding: 100px;
}

#newUserForm{
    position: absolute;
    top: 100px;
    left: 35%;
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 16pt;
    display: none;
}

#newUserSuccess{
    position: absolute;
    top: 330px;
    left: 35%;
    width: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 16pt;
    display: none;
}

.about{
    position: absolute;
    top: 140px;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 2% 10% 2% 5%;
    border-radius: 10px;
    border: 1px grey solid;
    display: relative;  
    height: 700px;
    overflow: auto;
}

.aboutHeader{
    font-size: 20pt;
    font-weight: bold;
    color: grey;
    border-bottom: 2px darkgrey solid;
    cursor: pointer; 
    cursor: hand;
}

.aboutText{
    font-size: 14pt;
    margin: 15px 0px 15px 0px;
    color: black;
    font-weight: normal;
}

.closeBox{
    position: absolute;
    top: 5px;
    right: 10px;
}

.newUserInput{
    width: 100%;
    margin: 5px;
    border: none;
    height: 2em;
}

.loginInput{
    height: 2em;
    border-radius: 10px;
    opacity: 1.0;
    text-align: center;

}

.logo {
    font-size: 36pt; 
    font-style: none; 
    vertical-align: center;
    font-family: impact; 
    font-weight: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.blue{
	background-color: lightblue;
}

.clearfix {
    overflow: auto;
	padding: 15px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-0px;
}

.lessonControl{
    width: auto;
    margin: 10px;
    color: red;
}
.lessonButton{
    width: auto;
    margin: auto;
}

.lessonElement{
    box-sizing: border-box; 
    position: absolute;
    right: -50%;
    width: 50%;
    display:none;
    padding: 30px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.testResult{
    box-sizing: border-box; 
    display: block; 
    right: 25%;
    width: 50%;
    top: 175px;
    padding: 30px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.statusBar{
    box-sizing: border-box; 
    width: 33%;
    margin: auto;
    background-color: #f1f1f4;
    margin-top: 10px;
    height: 50px; 
    font-size: 0px;
    border-radius: 10px;
}

.statusText{
    width: 1000px; 
    height: 50px;
    text-align: center;
    vertical-align: center;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    /*font-style: italic;*/
}

.statusElement{
    box-sizing: border-box; 
    width: 25%;
    height: 100%;
    background-color: lightblue;
    display: inline-block;
}

.firstStatusElement{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lastStatusElement{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.verificationText{
    font-style: italic;
    font-weight: bold;
}

.lessonHintsHeader{
    box-sizing: border-box; 
    position: absolute;
    width: 300px;
    right: 0%;
    top: 175px;
    height: 50px;
    color: black;
    font-size: 14pt !important;
    font-style: italic !important;
    border-top-left-radius: 5px; 
    text-align: center;
    font-weight: bold !important;
    background-color:  #f1f1f4;
    padding: 10px !important;
}

.lessonHintsContent{
    box-sizing: border-box; 
    position: absolute;
    width: 300px;
    right: 0%;
    top: 225px;
    color: black;
    font-size: 12pt;
    font-style: italic;
    border-bottom-left-radius: 5px; 
    text-align: left;
    font-weight: bold;
    background-color:  #f1f1f4;
    padding: 10px;
}

.submitButton{
    width: 150px;
}

table{
    font-size: 12pt;
    width: 100%;
    overflow: auto;
    margin: 5px !important;
}
td{
    text-align: left !important;
}

td.center {
    text-align: center;
}

td.indexTable{
    overflow: hidden;
    height: 3em;
    padding: 10px;
    vertical-align: center;
}

tr:nth-child(odd) {
    background-color: lightblue;
}
tr:nth-child(even) {
    background-color: white;
}

table.styledTable td {
    padding: 5px;
    margin: 5px;
}
table.styledTable th {
    background-color: darkgrey;
    padding: 5px;
    border-bottom: 1px black solid;
}

table.styledTable{
    table-layout: fixed;
    width: 100%;
}

.profileBlock{
    box-sizing: border-box; 
    margin-left: 25%;
    display: table;
    width: 50%;
    margin-top: 30px;
    padding: 30px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.wideBlock{
    box-sizing: border-box; 
    margin-left: 15%;
    width: 70%;
    margin-top: 30px;
    padding: 30px;
    font-size: 18pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.veryWideBlock{
    box-sizing: border-box; 
    margin-left: 5%;
    width: 90%;
    margin-top: 30px;
    padding: 30px;
    font-size: 16pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.fullWidthBlock{
    box-sizing: border-box; 
    margin-left: 0%;
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    font-size: 16pt;
    border-radius: 10px;
    background-color: #f1f1f4;
}

.sameLine{
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.moduleForm{
    display: none;
    width: 100%;
}

.courseForm{
    display: none;
    width: 100%;
}

.input {
    /* top left bottom right */
    margin: 10px 0px 10px 0px;
}

.addModuleElement{
    display: none;
    margin: 10px 0px 5px 0px;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 10px;
}

.question{
    font-style: italic;
}

.courseBlock{
    max-height: 250px;
    overflow: auto;
    font-size: 14pt;
}

.courseLink{
    width: 80%;
    margin: 5px;
}

.red-text{
    color: red;
    font-style: italic;
    font-size: 12pt;
}

.btn-row{
    padding: 5px 3px 5px 3px !important;
    display: inline-block;
    margin: 0px 5px 10px 0px;
}

.editResponseText{
    font-style: italic;
    color: green;
    font-size: 75%;
    font-weight: bold;
}

.sideNavBar{
    margin: 30px 0px 0px 0px;
    background-color: lightgrey;
    size: absolute;
    height: 100vh;
    width: 25%;
    border-top-right-radius:  10px;
    border-top-left-radius:  10px;

}

.roundedInput{
    font-size: 14pt;
    border-radius: 5px;
    width: 300px;
    height: 2em;
}

.disabled{
    background-color: lightgrey;
}

.editBlock{
    box-sizing: border-box; 
    margin-left: 10%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 16pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
    border-top-right-radius:  10px;
    background-color: #f1f1f4;
}

.editTabs{
    box-sizing: border-box; 
    margin-left: 10%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
}

.tab{
    margin: 0px;
    padding: 10px !important;
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-color: lightgrey;
}

.Hide{
    display: none;
}

.center{
    background-color: red;
    margin-left:auto !important;
}
.dataHeader{
    cursor: pointer; 
    cursor: hand;
    background-color: none;
}

.averageScore{
    color: grey;
    font-size: 12pt;
    font-style: italic;
}

input{
    border: none;
}

.indexRow{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.ratingBar{
    cursor: pointer; 
    cursor: hand;
}

.ratingStar{
    font-size: 28pt;
    color: gold;
}

.courseTile{
    width: 49%;
    display: inline-block;
    font-size: 14pt;
    margin: 0px 5px 10px 0px;
    padding: 10px;
    height: 460px;
    cursor: pointer; 
    cursor: hand;
    text-align: left;
    border-radius: 15px;
    background-color: lightblue;
}

.courseTileHeader{
    border-bottom: 3px grey solid;
    margin: 0px 0px 15px 0px;
    padding: 5px;
    vertical-align: center;
}

.courseTileHalf{
    display: inline-block;
    margin: 0px;
    padding: 5px;
    vertical-align: top;
    height: 300px;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
}

.courseTileRow{
    height: 12px;
}

.courseTileLeft{
    width: 33%;
    padding-left: 10px;
}

.courseTileRight{
    width: 64%;
    margin-left:10px;
    padding-left: 15px;
}

.welcomeBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.85;
    display: none;
}

.welcomeBlock{
    position: absolute;
    top: 140px;
    left: 32.5%;
    width: 35%;
    background-color: white;
    padding: 5% 0% 0% 0%;
    border-radius: 10px;
    height: 700px;
    cursor: pointer; 
    cursor: hand;
    text-align: center;
    border: 3px grey solid;
    display: none;
    z-index: 2;
}

#welcomeCloseBox{
    position: absolute;
    top: 150px;
    right: 33%;
}

.indexBalls{
    position: absolute; 
    bottom: 5%;
    width: 100%;
    /*margin-left: 150px;
    width: 20%;
    text-align: center;*/
}

.indexBall{
    border-radius: 50%;
    background-color: lightgrey;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.indexBallHighlight{
    background-color:darkgrey;
}

.alertBlock{
    position: absolute;
    top: 140px;
    left: 35%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    border: 1px grey solid;
}

.bubble{
    box-sizing: border-box; 
    position: absolute;
    margin-left: 21%;
    margin-top: 21%;
    height: 7px;
    width: 7px;
    border-top: 5px solid white;
    border-radius: 50%;
    background-color: grey;
    opacity: .3;
}

.courseTabs{
    box-sizing: border-box; 
    margin-left: 5%;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0px;
}

.courseTab{
    margin: 0px;
    padding: 10px !important;
    color: black;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-color: lightgrey;
}

.courseDisplayBlock{
    box-sizing: border-box; 
    margin-left: 5%;
    width: 90%;
    margin-top: 0px;
    padding: 30px;
    font-size: 16pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
    border-top-right-radius:  10px;
    background-color: #f1f1f4;
}

.analyzeBlock{
    box-sizing: border-box; 
    margin-left: 10%;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 30px;
    font-size: 16pt;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:  10px;
    border-top-right-radius:  10px;
    background-color: #f1f1f4;

    max-height: 590px;
    overflow: auto;
}

.analyzeHeader{
    width: 100%;
    padding: 10px;
    margin: 0px 0px 30px 0px;
    border-bottom: 1px black solid;
}

.courseSelectBlock{
    box-sizing: border-box; 
    margin-left: 30%;
    width: 40%;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: #f1f1f4;
    text-align: center;
}