{% load staticfiles %}

<div style = "background-color: #8080ff; margin: 1%; padding: 1%; border-radius: 10px;"> 
	<div style = "background-color: white; margin: 0px; padding: 1%; border-radius: 10px;"> 
		<div style = "background-color: lightgrey; margin: 0%; padding: .5%; border-radius: 10px;display: inline-block;"> 
			<a style = "text-decoration: none;" href = "http://www.deepdive.us">
				<div style = "font-family: 'Franklin Gothic Medium'; color: #000066; font-size: 48px; text-align:center;"> DeepDive</div>
				<div style = "font-family: 'Franklin Gothic Medium'; color: #8080ff; font-size: 20px;text-align:center;"> Learn. Teach. Analyze</div>
			</a>
		</div>
		<h3 style = "margin-bottom:0px; margin-left: 5px;">
			
			{% if type == "courseInvite" %}
			<p> Hi {{invitee}}, </p>
			{% endif %}

			<p> {{invitor.first_name}} {{invitor.last_name}} has invited you to try out the course <span style = "color: #8080ff; font-size: 16pt;">{{course}}</span> on <a style = "text-decoration: none;" href = "http://www.deepdive.us"> Deepdive. </a>
			
			{% if type == "newUserInvite" %}
			DeepDive is a new platform for online learning,  supporting both students and teachers. To check out <span style = "color: #8080ff;">{{course}} </span>, use the invite code <span style = "font-style: italic;"> {{invite_code}} </span> to register
				<a style = "text-decoration: none;" href = "http://www.deepdive.us"> here </a> 
			{% endif %}

			</p>
			<p>Good luck and let us know if you have any questions!</p>
			<p style = "margin-bottom: 0px;">Best,</p>
			<p style = "margin-top: 0px; margin-bottom: 0px;">Team DeepDive</p>
		</h3>
	</div>
</div>
<div style = "text-align:center; color: grey; font-size: 8pt;"> 
    Copyright 2016
</div>
