{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mysite/styles.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'mysite/js/jquery.js' %}"></script>
    <script src="{% static 'mysite/js/jquery.min.js' %}"></script>-->
    <script src="{% static 'mysite/js/lesson.js' %}"></script>
    <title> DeepDive </title>
</head>

<body background="{% static 'mysite/images/ocean2.JPG' %}">
    <div class="header container-fluid">
        <div class="row vertical-align" style="padding: 10px;" >
            <div class ="col-md-4">
               <div class = "logo">
                    <img src = "{% static 'mysite/images/HorizontalLogo.png' %}" alt="diver logo" style="width: 400px; display: inline-block;">
                </div>                             
           </div>
               
                {% if user.username%}
            <div class ="col-md-4" style="text-align:center;">    
                <a class="btn btn-info" role="button" href="/lessons/">Home</a>
                <div class="dropdown btn-row">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Manage
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/lessons/create"> Create New Material </a></li>
                    <li><a href="/lessons/edit"> Edit Existing Material </a></li>
                    <li><a href="/lessons/add_media"> Manage Media </a></li>
                    <li><a href="#"> Analyze Student Data </a></li>
                </ul>
                </div>
                <a class="btn btn-info" role="button"href="/lessons/profile/">Profile</a>
                <a class="btn btn-info" role="button"href="#">About</a>
                <a class="btn btn-info" role="button"href="/lessons/login/" >Logout</a>
            </div> 
            <div class ="col-md-4" style="text-align:right;"> 
                <a style="color:white;"> Signed in as <code> {{user.username}} </code></a>
            </div>
                {% else %}
                {%endif%}
        </div>
    </div>

    <div>

    {% block content %}
    {% endblock %}
    </div> 

    <div style = "position: absolute; bottom: 5px; width: 100%; text-align:center; color: white; font-size: 8pt;"> 
        Copyright 2015
    </div>
    
</body>
</html>