{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mysite/styles.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'mysite/js/jquery.js' %}"></script>  Only for offline dev-->
    <!--<script src="{% static 'mysite/js/jquery.min.js' %}"></script>  Only for offline dev, not sure if necessary-->
    <script src="{% static 'mysite/js/lesson.js' %}"></script>
    <script src="{% static 'mysite/js/about.js' %}"></script>
    <title> DeepDive </title>
</head>

<body>
    <div class="header container-fluid">
        <div class="row vertical-align" style="padding: 10px;" >
        <img src ="{% static 'mysite/images/ocean2bar.JPG' %}" style = "position: absolute; top:0px; left: 0px; width: 100%; height: 112px;"> 
            <div class ="col-md-4">
               <div class = "logo">
                    <img src = "{% static 'mysite/images/ColorLogo.PNG' %}" alt="diver logo" style="width: 400px; display: inline-block;">
                </div>                             
           </div>
               
                {% if user.username%}
            <div class ="col-md-4" style="text-align:center;">    
                <div class="dropdown btn-row" style = "position: relative; z-index: 1;"><a class="btn btn-primary highlight" id = "learnBtn" role="button" href="/lessons/">Learn</a></div>
                <div class="dropdown btn-row" style = "position: relative; z-index: 1;">
                    <button class="btn btn-primary dropdown-toggle highlight" id = "teachBtn" type="button" data-toggle="dropdown">Teach
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/lessons/create"> Create New Material </a></li>
                        <li><a href="/lessons/edit"> Edit Existing Material </a></li>
                        <li><a href="/lessons/add_media"> Manage Media </a></li>
                        <li><a href = "#" id = "guideBtn"> Glossary </a></li>
                        <li><a </li>
                    </ul>
                </div>
                <div class="dropdown btn-row" style = "position: relative; z-index: 1;"><a class="btn btn-primary highlight" id = "analyzeBtn" role="button" href="/lessons/analyze"> Analyze </a></div>
                <div class="dropdown btn-row"><a class="btn btn-default" role="button"href="/lessons/profile/">Profile</a></div>
                <div class="dropdown btn-row">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">About
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href = "#" id = "overviewBtn"> Overview </a></li>
                        <li><a href = "#" id = "designBtn"> Design </a></li>
                    </ul>
                </div>
            </div> 
            <div class ="col-md-4" style="text-align:right;"> 
                <a style="color:white;"> <code> {{user.username}} </code></a>
                <a style="color:white;" class="btn btn-link" href="/lessons/login/" >Logout</a>
            </div>
                {% else %}
                {%endif%}
        </div>
    </div>
    <div>

    {% block content %}
    {% endblock %}
    </div> 

    <div style = "position: absolute; bottom: 5px; width: 100%; text-align:center; color: grey; font-size: 8pt;"> 
        Copyright 2016
    </div>

    <div class = "about Hide" id = "overview">
        <div class = "textBlock">
            <div class = "aboutHeader">
                <!--<span class = "arrow">&#9660</span>-->
                Study
                <img style = "height: 70px;" src = "{% static 'mysite/images/welcome/bookshelf.JPG' %}">
            </div>
            <div class = "aboutText">
                <p> DeepDive was founded on the belief that you learn best when you’re constantly problem-solving. No kicking back and simply clicking through videos. At DeepDive, you’ll be answering questions, working through examples, and getting real-time feedback from the start </p>

                <p>You can enroll in as many courses as you like, for free. Learn  about an existing passion or find a new one. Work on your own schedule and at your own pace. Pay attention to the feedback you get along the way to pass your tests and keep on unlocking new content </p>
            </div>
        </div>
        <div class = "textBlock">
            <div class = "aboutHeader">
                <!--<span class = "arrow">&#9660</span>-->
                Teach
                <img style = "height: 70px;" src = "{% static 'mysite/images/welcome/training.JPG' %}">
            </div>
            <div class = "aboutText">
                <p>Have a subject you want to teach the world about? Have a group of classmates, employees, or friends you want to teach? Want to verify that students are actually learning your material and gather data on their progress and satisfaction? And want to do all that for free? DeepDive is for you! </p>

                <p>Use our creator tools to create courses with multiple modules. Fill your modules with a rich set of content – text, videos, documents, quizzes, etc. End each module with a test to gauge your students’ performance and ensure students unlock new material only once they’ve mastered what comes before it </p>
            </div>
        </div>
        <div class = "textBlock">
            <div class = "aboutHeader">
                <!--<span class = "arrow"> &#9660 </span>-->
                Analyze
                <img style = "height: 70px;" src = "{% static 'mysite/images/welcome/analyze.PNG' %}">
            </div>
            <div class = "aboutText">
                <p> As students enroll in courses you have published, you'll accumulate performance and satisfaction data. DeepDive provides you a number of ways to synthesize this data. Understand how your students are learning and take a data-driven approach to improving your courses </p>
            </div>
        </div>
        <div class= "btn closeBox"> X </div>
    </div>

    <div class = "about Hide" id = "guide">
            <div class = "aboutHeader">
                Courses 
            </div>
            <div class = "aboutText">
                <p> Self-explanatory - a curriculum for a student to learn about a topic. Courses require a name, a genre, and a description - they can also include an image or logo </p>
            </div>
            <div class = "aboutHeader">
                Modules 
            </div>
            <div class = "aboutText">
                <p> Modules are the units that make up courses. You can think of them as "course sections" or, for a shorter course, individual lessons. Modules are unlocked by students one after another. So when a student enrolls in a course, he or she will only have access to the first module, but will be able to access all of the elements in that module. </p>
            </div>
            <div class = "aboutHeader">
                Module Elements 
            </div>
            <div class = "aboutText">
                <p> Module elements are the "pages" or "slides" that students will see within a module. We don't like to call them "pages" or "slides" because there is a lot more you can do with a module element than a traditional slide or PDF. In addition to text, tables, and images, you can embed videos and attach documents (including templates for students to fill in). You also can - and should - include questions to provide students with real-time feedback as they progress through the elements of your modules! You can select from 3 kinds of module element: </p>
                <ul>
                    <li> <strong><span style = "font-style: italic;">Content:</span></strong> include text, pictures, video, and documents </li>
                    <li> <strong><span style = "font-style: italic;">Quiz:</span></strong> all the functionality of a Content element, plus questions. Answers are not saved and students can change and submit answers as many times as they like. Multiple quizzes can be embedded throughout a module </li>
                    <li> <strong><span style = "font-style: italic;">Test:</span></strong> similar to a Quiz, but used as a gating mechanism at the end of a module. Test answers are logged and students unlock access to the next module only if they beat a predefined score. Each module must include one and only one test, as its last element. </li>
                </ul>
            </div>
            <div class = "aboutHeader">
                Questions
            </div>
            <div class = "aboutText">
                <p> DeepDive currently supports two types of questions: </p>
                <ul>
                    <li> <strong><span style = "font-style: italic;">Form:</span></strong> open-response </li>
                    <li> <strong><span style = "font-style: italic;">Radio:</span></strong> select one from a multiple choice list. Radio questions can have as many answer choices as desired, but only one answer can be correct </li>
                </ul>
            </div>
        <div class= "btn closeBox"> X </div>
    </div>

    <div class = "about Hide" id = "design">
        <div class = "textBlock">
            <div class = "aboutHeader">
                <span> Design & Credits </span>
            </div>
            <div class = "aboutText">
                <p> DeepDive is built entirely on open-source libraries. Thanks to the contributors to the following software projects, upon which DeepDive is built: </p>
                <img style = "height: 100px;" src="{% static 'mysite/images/logos/python_logo.PNG' %}">
                <img style = "height: 60px;" src="{% static 'mysite/images/logos/django_logo.PNG' %}">
                <img style = "height: 100px;" src="{% static 'mysite/images/logos/bootstrap_logo.PNG' %}">
                <img style = "height: 80px;" src="{% static 'mysite/images/logos/ckeditor_logo.JPG' %}">
                <img style = "height: 40px;margin-left: 15px;" src="{% static 'mysite/images/logos/highcharts_logo.JPG' %}">
                <img style = "height: 200px;" src="{% static 'mysite/images/logos/JS_logo.JPG' %}">
                <img style = "height: 80px;" src="{% static 'mysite/images/logos/aws_logo.JPG' %}">
                <img style = "height: 80px;" src="{% static 'mysite/images/logos/heroku_logo.PNG' %}">
            </div>
        </div>
        <div class= "btn closeBox"> X </div>
    </div>
    
</body>
</html>