{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'mysite/js/analyze.js' %}"></script>

<select class = "courseSelectBlock" name = "coursepk" id = 'courseSelect'>
	<option value='' disabled selected style="text-align: center;">Select course to view data...</option>
	{% for course in courses %}
	<option value='{{course.pk}}' style="text-align: center;">Course: {{course.name}}</option>
	{% endfor %}
</select>

<div class = "editTabs Hide" style = "margin-top: 10px;">
	<div class = "tab btn-row" id = "chartBtn" style = "background-color: #f1f1f4;">
		<div class = "btn btn-link" style = "font-size: 14pt; font-weight: bold;"> Chart Format </div>
	</div> 
	<div class = "tab btn-row"  id = "tableBtn">
		<div class = "btn btn-link" style = "font-size: 14pt; font-weight: bold;"> Table Format</div>
	</div> 
	<div class = "tab btn-row"  id = "detailsBtn">
		<div class = "btn btn-link" style = "font-size: 14pt; font-weight: bold;"> Detailed User Data </div>
	</div> 
</div>

<div class = "analyzeBlock Hide" id = "chartData">
    <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<div id="timeChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<p></p>
	<div id="averageChart" style="min-width: 50%; height: 400px; margin: 0 auto; display: inline-block;"></div>
	<div id="ratingChart" style="min-width: 49%; height: 400px; margin-left: 5px; display: inline-block;"></div>
	<!--<div id="moduleChart" style="min-width: 50%; height: 400px; margin: 0 auto; display: inline-block;"></div>-->
	<br> <br>
</div>

<div class = "analyzeBlock Hide" id = "tableData">
	<div style = "width: 30%; margin: 0px 0px 20x 0px; border: 1px black solid; border-radius: 10px; padding: 10px">
		<div style = "font-size: 12pt;"> Total Enrolled: <span id = "total_enrolled"></span></div>
		<div style = "font-size: 12pt; border-bottom: 1px black solid;"> Less: Total Dropped: <span id = "total_dropped"></span></div>
		<div style = "font-size: 12pt;"> Equals: Currently Enrolled: <span id = "currently_enrolled"></span></div>
	</div>
	<table id = "summaryTable">
		<tr>
			<th> Module </th>
			<th> Completions </th>
			<th> Percent of Total </th>
			<th> Average Score </th>
		</tr>	
	</table>
</div>


<div class = "analyzeBlock Hide" id = "detailedData">
	<table style = 'table-layout: fixed;'> <tr> <td style = 'width: 25%;'> Enrollee </td><td style = 'width: 25%;'> Date Enrolled</td><td style = 'width: 25%;'> Status </td><td> Average Score </td></tr></table>
</div>
	
{% endblock %}