{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'mysite/js/edit.js' %}"></script>
<!-- links to CKEDITOR and customization of CKEDITOR toolbar -->
<script src="{% static 'mysite/js/CKEditor/ckeditor.js' %}"></script>
<script src="{% static 'mysite/js/CKEditor/adapters/jquery.js' %}"></script>
<script>
	var ckeditor_toolbar = [
		{ name: 'document', items: [ 'Source', '-', /*'Save', 'NewPage',*/ 'Preview', 'Print', '-', 'Templates' ] },
	{ name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
	{ name: 'editing', items: [ 'Find', 'Replace'/*, '-', 'SelectAll', '-', 'Scayt' */] },
	/*{ name: 'forms', items: [ 'Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField' ] },
	'/',*/
	{ name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
	{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'/*, 'Language'*/ ] },
	{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
	{ name: 'insert', items: [ 'Image', 'Iframe','Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar' /*, 'PageBreak'*/ ] },
	{ name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
	{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
	{ name: 'tools', items: [ 'Maximize' /*,'ShowBlocks'*/ ] },
	/*{ name: 'about', items: [ 'About' ] }*/
	];
</script>

<div>
	<div class = "editTabs">
		<div class = "tab btn-row" id = "courseTab" style = "background-color: #f1f1f4;">
			<div class = "btn btn-link" style = "font-size: 16pt; font-weight: bold;"> Course</div>
		</div> 
		<div class = "tab btn-row Hide"  id = "moduleTab">
			<div class = "btn btn-link" style = "font-size: 16pt; font-weight: bold;"> Module</div>
		</div> 
		<div class = "tab btn-row Hide"  id = "moduleElementTab">
			<div class = "btn btn-link" style = "font-size: 16pt; font-weight: bold;"> Module Element </div>
		</div> 
		<div class = "tab btn-row Hide"  id = "questionTab">
			<div class = "btn btn-link" style = "font-size: 16pt; font-weight: bold;"> Question </div>
		</div> 
	</div>
	<div class = "course editBlock">
		<div>
			<select class = 'input roundedInput' type='text' id = 'courseSelect'></select>
	    </div>
		<div style="width: 150px; display: inline-block;"> Name: </div> 
		<input id = "course_name" > <p></p>
		<div style="width: 150px; display: inline-block;">Genre: </div>
		<input id = "course_genre"> <p></p>
		<div style="width: 150px; display: inline-block;"> Public: </div>
		<div class = 'btn-row'>
			<select type='text' id = 'course_privacy'>
				<option value="Public"> Yes </option>
				<option value="Development"> No  </option>
			</select>
	    </div>
		<div>
			<div style="width: 150px; display: inline-block; vertical-align: top;">Description: </div>
			<div style="display: inline-block;">
				<textarea style="display: inline-block;" id="course_description"></textarea>
		        <script>
		            CKEDITOR.replace( 'course_description',{
		            	toolbar: ckeditor_toolbar
					});
		        </script>
	        </div>
        </div>
        <div class = 'edit btn btn-link btn-row' id = 'course-Edit'> Save Edits </div>
        <div class = 'delete btn btn-link btn-row' id = 'course-Delete'> Delete </div>
        <div class = 'editResponseText btn-row' id = 'course-Response'></div>
	</div>
	<div class = "module editBlock Hide">
		<div class = "current btn btn-primary btn-row" id = "module-Current"> Edit existing module </div>
		<div class = "add btn btn-primary btn-row grey" id = "module-New"> Add new module </div><p></p>
		<div>
			<select class = 'input roundedInput disabled' type='text' id = 'moduleSelect' disabled>
		   		<option value='' disabled selected>Select module...</option>
	    	</select>
    	</div>
		<div style="width: 90px; display: inline-block;"> Index: </div> 
		<div class = "btn-row" id = "module_index"> </div><br>
		<div style="width: 90x; display: inline-block;"> Name: </div> 
		<input style="width: 320px;" id = "module_name"> <p></p>
		<div style="width: 320px; display: inline-block;"> Minimum Passing Score (1-100): </div> 
		<input style="width: 60px;" id = "module_passing_score"> <p></p>
		<div> Hints (if blank, hints bar will not show) </div>
		<div>
			<!--<div style="width: 90px; display: inline-block; vertical-align: top;">Hints: </div>-->
			<div style="display: inline-block;">
				<textarea style="display: inline-block;" id="module_hints">Fill in Module Hints (or delete to leave blank)</textarea>
		        <script>
		            CKEDITOR.replace( 'module_hints',{
		            	toolbar: ckeditor_toolbar
					});
		        </script>
	        </div>
        </div>
        <div id = "module-EditButtons">
	        <div class = 'edit btn btn-link btn-row' id = 'module-Edit'> Save Edits </div>
	        <div class = 'moveForward btn btn-link btn-row' id = 'module-moveForward'> Move Forward </div>
	        <div class = 'moveBack btn btn-link btn-row' id = 'module-moveBack'> Move Back </div>
	        <div class = 'delete btn btn-link btn-row' id = 'module-Delete'> Delete </div>
        </div>
        <div class = "Hide" id = "module-CreateButtons">
	        <div class = 'create btn btn-link btn-row' id = 'module-Create'> Save New Module </div>
        </div>
        <div class = 'editResponseText btn-row' id = 'module-Response'></div>
	</div>
	<div class = "moduleElement editBlock Hide">
		<div class = "current btn btn-primary btn-row" id = "moduleElement-Current"> Edit existing module element </div>
		<div class = "add btn btn-primary btn-row grey" id = "moduleElement-New"> Add new module element </div><p></p>
		<div>
			<select class = 'input roundedInput disabled' type='text' id = 'moduleElementSelect' disabled>
			   	<option value="" disabled selected>Select module element...</option>
		    </select>
	    </div>
		<div style="width: 90px; display: inline-block;"> Index: </div> 
		<div class = "btn-row" id = "moduleElement_index"></div> <br>
		<div style="width: 90px; display: inline-block;"> Name: </div> 
		<input id = "moduleElement_name"> <p></p>
		<div style="width: 90px; display: inline-block;"> Type: </div> 
		<select id = "moduleElement_type" style="width: 260px; display: inline-block;">
			<option value="Content"> Content </option>
	  		<option value="Quiz"> Quiz </option>
	  		<option value="Test"> Test </option>
		</select>
		<p></p>
		<div>
			<div style="width: 90px; display: inline-block; vertical-align: top;">Content: </div>
			<div style="display: inline-block;">
				<textarea style="display: inline-block;" id="moduleElement_text"></textarea>
		        <script>
		            CKEDITOR.replace( 'moduleElement_text',{
		            	toolbar: ckeditor_toolbar
					});
		        </script>
	        </div>
        </div>
	    <div id = "moduleElement-EditButtons">   
	        <div class = 'edit btn btn-link btn-row' id = 'moduleElement-Edit'> Save Edits </div>
	        <div class = 'moveForward btn btn-link btn-row' id = 'moduleElement-moveForward'> Move Forward </div>
	        <div class = 'moveBack btn btn-link btn-row' id = 'moduleElement-moveBack'> Move Back </div>
	        <div class = 'delete btn btn-link btn-row' id = 'moduleElement-Delete'> Delete </div>
        </div>
        <div class = "Hide" id = "moduleElement-CreateButtons">
	        <div class = 'create btn btn-link btn-row' id = 'moduleElement-Create'> Save New Module Element </div>
        </div>
        <div class = 'editResponseText btn-row' id = 'moduleElement-Response'></div>
	</div>
	<div class = "question editBlock Hide">
		<div class = "current btn btn-primary btn-row" id = "question-Current"> Edit existing question </div>
		<div class = "add btn btn-primary grey btn-row" id = "question-New"> Add new question </div><p></p>
		<div>
			<select class = 'input roundedInput disabled' type='text' id = 'questionSelect' disabled>
			   	<option value="" disabled selected>Select question...</option>
		    </select>
	    </div>
		<div style="width: 90px; display: inline-block;"> Index: </div> 
		<div class = "btn-row" id = "question_index"></div><br>
		<div style="width: 90px; display: inline-block;"> Type: </div> 
		<select id = "question_type" style="width: 260px; display: inline-block;">
			<option value="Radio"> Radio </option>
	  		<option value="Form"> Form </option>
		</select>
		<p></p>
		<div>
			<div style="width: 90px; display: inline-block; vertical-align: top;">Content: </div>
			<div style="display: inline-block;">
				<textarea style="display: inline-block;" id="question_text"></textarea><p></p>
		        <!--<script>
		            CKEDITOR.replace( 'question_text',{
		            	toolbar: ckeditor_toolbar
					});
		        </script>-->
	        </div>
        </div>
        <div style="width: 90px; display: inline-block;"> Answer: </div>
		<input id = "question_answer"> <p></p>
        <div id = "answerChoices"></div>
        <div id = "question-EditButtons">  
	        <div class = 'edit btn btn-link btn-row' id = 'question-Edit'> Save Edits </div>
	        <div class = 'moveForward btn btn-link btn-row' id = 'question-moveForward'> Move Forward </div>
	        <div class = 'moveBack btn btn-link btn-row' id = 'question-moveBack'> Move Back </div>
	        <div class = 'delete btn btn-link btn-row' id = 'question-Delete'> Delete </div>
        </div>
        <div class = "Hide" id = "question-CreateButtons">
	        <div class = 'create btn btn-link btn-row' id = 'question-Create'> Save New Question </div>
        </div>
        <div class = 'editResponseText btn-row' id = 'question-Response'></div>
	</div>
</div>

<script src="{% static 'mysite/js/create_intro.js' %}"></script>
	<div id = "courseHelp">?</div>
	<div class = "welcomeBackground"></div>
	<div class = "welcomeBlock" style = "padding: 10px; height: 800px; top: 90px;">
		<div style = "margin: 0% 5% 0% 5%;">
			<div id = "welcomeBlock-0">
				<h1 style = "margin-top: 40%;"> <strong> Course Creator Orientation </strong> </h1>	
				<br><img style = "height: 150px; text-align: center;" src="{% static 'mysite/images/welcome/logo.PNG' %}"></script><br><br>
				<h2> A quick primer on how to create a DeepDive course </h2>
			</div>
			<div class = "Hide" id = "welcomeBlock-1">
				<h1><strong> Initiate a new course</strong></h1>
				<h3><code style = "padding: 5px">Teach>Create New</code></h3>
				<h3 style = "color: grey; text-align: justify;"> Fill in a name, genre, and description. You can go back and edit these later. Your new course will be visible only to you until you make it public </h3>
				<br><img style = "height: 400px; text-align: center;" src="{% static 'mysite/images/create_intro/create_course.PNG' %}"><br>
			</div>
			
			<div class = "Hide" id = "welcomeBlock-2">
				<h1><strong> Design the first module for your course </strong></h1>
				<h3><code style = "padding: 5px">Teach>Create New</code></h3>
				<h3 style = "color: grey; text-align: justify;"> Select which course your module will belong to, then add a name and a minimum passing score (1-100). You can also add hints, which will appear as a collapsible sidebar to users. If you leave hints blank, users will not see a sidebar </h3>
				<br><img style = "width: 100%; text-align: center;" src="{% static 'mysite/images/create_intro/create_module.PNG' %}"><br>
			</div>

			<div class = "Hide" id = "welcomeBlock-3">
				<h1><strong> Add a few module elements  </strong></h1>
				<h3><code style = "padding: 5px">Teach>Create New</code></h3>
				<h3 style = "color: grey; text-align: justify;"> Module elements are like slides – but in addition to “content” elements that contain text, pictures, and videos, you can add “quiz” and “test” elements that provide users real-time feedback through multiple choice and free-response questions </h3>
				<br><img style = "width: 80%; text-align: center;" src="{% static 'mysite/images/create_intro/module_element.PNG' %}"><br>
			</div>

			<div class = "Hide" id = "welcomeBlock-4">
				<h1><strong> Embed videos and pictures in your elements </strong></h1>
				<h3><code style = "padding: 5px">Teach>Create New</code></h3>
				<h3 style = "color: grey; text-align: justify;"> Use the video and picture icons shown below. You will need to supply a URL for embedded videos and pictures. If you want to attach your own locally-hosted documents… we’ll get to that in a few steps! </h3>
				<br>
				<img style = "height: 60px; text-align: center;" src="{% static 'mysite/images/create_intro/picture.PNG' %}">
				<img style = "height: 60px; text-align: center; display: inline-block; margin-left: 20px;" src="{% static 'mysite/images/create_intro/video.PNG' %}">
				<br>
			</div>

			<div class = "Hide" id = "welcomeBlock-5">
				<h1><strong> Add a test element at the end of your module </strong></h1>
				<h3><code style = "padding: 5px">Teach>Create New</code></h3>
				<h3 style = "color: grey; text-align: justify;"> You can create unlimited content and quiz elements within a module. However, each module must have <span style = "font-weight: bold;"> one and only one </span> test element as the <span style = "font-weight: bold;">last </span> element in the module. This is because the test is the “gating mechanism” that determines whether a user can unlock the next module (or pass the course) </h3>
			</div>

			<div class = "Hide" id = "welcomeBlock-6">
				<h1><strong> Hit “Create New Module” and preview your module </strong></h1>
				<h3><code style = "padding: 5px">Teach>Create New</code></h3>
				<h3 style = "color: grey; text-align: justify;"> Don’t worry if your module isn’t done. You’ll be able to edit your module and add, remove, or re-order elements later </h3>
				<br>
				<img style = "width: 80%; text-align: center; display: inline-block; margin-left: 20px;" src="{% static 'mysite/images/create_intro/create_module_button.PNG' %}">
			</div>

			<div class = "Hide" id = "welcomeBlock-7">
				<h1><strong> Add media to your course  </strong></h1>
				<h3><code style = "padding: 5px">Teach>Manage Media</code></h3>
				<h3 style = "color: grey; text-align: justify;"> Upload a course logo, which users will see when your course appears in search results. You can also upload your own locally-hosted files as downloadable attachments to module elements </h3>
				<br><img style = "width: 70%; text-align: center;" src="{% static 'mysite/images/create_intro/add_media.PNG' %}"><br>
			</div>

			<div class = "Hide" id = "welcomeBlock-8">
				<h1><strong> The last step - make your course public </strong></h1>
				<h3><code style = "padding: 5px">Teach>Editor</code></h3>
				<h3 style = "color: grey; text-align: justify;"> You can return your course to private mode at any time, which will keep new users from seeing your course or enrolling (users already enrolled will still have access) </h3>
				<br><img style = "width: 70%; text-align: center;" src="{% static 'mysite/images/create_intro/edit.PNG' %}"><br>
			</div>

			<div class = "Hide" id = "welcomeBlock-9">
				<h1 style = "margin-top: 30%;"><strong> You've finished Course Creator orientation </strong></h1>
				<div class = "btn-info endWelcome" style = "font-size: 20pt; border-radius: 15px; padding: 25px; margin: 50px 0px 30px 0px;">  Sounds good - let's get started </div>
				<div class = "btn-info" style = "font-size: 20pt; border-radius: 15px; padding: 25px; margin: 50px 0px 30px 0px;">Take me through orientation one more time </div>
			</div>
		</div>
		<div class = "indexBalls">
			<div class = "indexBall indexBallHighlight" id = "indexBall-0">  </div>
			<div class = "indexBall" id = "indexBall-1">  </div>
			<div class = "indexBall" id = "indexBall-2">  </div>
			<div class = "indexBall" id = "indexBall-3">  </div>
			<div class = "indexBall" id = "indexBall-4">  </div>
			<div class = "indexBall" id = "indexBall-5">  </div>
			<div class = "indexBall" id = "indexBall-6">  </div>
			<div class = "indexBall" id = "indexBall-7">  </div>
			<div class = "indexBall" id = "indexBall-8">  </div>
			<div class = "indexBall" id = "indexBall-9">  </div>
		</div>
		<div class= "btn" id = "backBtn" style = "z-index: 3; position: absolute; top: 47%; margin-left: -67%; color: white; font-size: 90px; border-radius: 30px grey solid;" > 
			&#9668 
		</div>
		<div class= "btn" id = "nextBtn" style = "z-index: 3; position: absolute; top: 47%; margin-left: 50%; color: white; font-size: 90px;" > 
			&#9658 
		</div>
		<div class= "btn" id = "welcomeCloseBox" style = "z-index: 3; top: 10px; right: 10px" > X </div>
	</div>

{% endblock %}

