{% extends "base.html" %}

{% block content %}

	<div class = "veryWideBlock">
		<h2 class = "btn-row" style="margin:0px 0px 15px 0px;"> My Courses </h2> <a class = 'btn btn-info btn-row' href='/lessons/my_courses'> Add or Drop Courses </a>
		<div style = "max-height: 50vh; max-width: 100%; overflow: auto;">
		{% for course in mycourses %}
	   		<div class = "fullWidthBlock" style = "background-color: darkgrey;">
	   			
				<table style = "table-layout: fixed; display: inline-block;">
				    <tr style = "color: black; height: 4em;">
						<td class = "indexTable" style = "padding-left: 10px;"> <a href='/lessons/course/{{course.pk}}' ><img src = "{{course.logo}}" alt="courselogo" style="padding-left: 5px; width: 100px; display: inline-block;"> </a> </td>
			    		<td class = "indexTable" style = "padding-left: 10px; "><h1 style = "font-style: italic;"> <a href='/lessons/course/{{course.pk}}'> <strong> {{ course.name | safe }} </strong> </a></h1></td>
				    	<td class = "indexTable" style = "padding-left: 10px; "> <a href='/lessons/course/{{course.pk}}'> {{ course.genre | safe }} </a></td>
				    	<td class = "indexTable" style = ""> <a href='/lessons/course/{{course.pk}}'> By {{ course.instructor | safe }} </a></td>
				    	<td class = "indexTable" style = ""> <a href='/lessons/course/{{course.pk}}'> {{ course.relationship | safe }}</a></td>

				    	{% if course.status = "Completed" %}
				    	<td class = "indexTable" style = ""> <a style = "color: green; font-style: italic; padding: 10px;" href='/lessons/course/{{course.pk}}'> {{ course.status | safe }}</a></td>
				    	{% else %}
				    	<td class = "indexTable" style = ""> <a href='/lessons/course/{{course.pk}}'> {{ course.status | safe }}</a></td>
				    	{% endif %}

				    	<td class = "indexTable" style = ""> <a href='/lessons/course/{{course.pk}}'> {{ course.description | safe }}</a></td>
				    </tr>
				</table>
			</div>
				{% endfor %}
		</div>
	</div>

{% endblock %}