{% extends "base.html" %}

{% block content %}

<h3 style="margin-left:100px; margin-right:100px; margin-top:20px; margin-bottom:20px; padding:20px; text-align:center; background-color:lightgrey;">  At DeepDive, each lesson builds on the one that comes before it. So read lesson #1, play around with the numbers in the example model, and then take the quiz. When you pass the quiz, you'll unlock lesson #2. Treat yourself to an ice cream... and then repeat! </h3> 
<br/>
<div class ="container">
<div class="row row-centered">
    <div class ="col-xs-4 col-centered">
		<h4 style="margin:15x;"> Completed lessons </h4>
		<ul>
			{% for lesson in completed_lessons %}
				<p><a class= "btn btn-info " style = "width:200px; text-align:left;" href="/lessons/{{ lesson.id }}/">{{lesson.id}}. {{ lesson.lesson_name }}</a></p>
			{% endfor %}
		</ul>
	</div>
	<div class ="col-xs-4 col-centered">
		<h4 style="margin:15x;"> My current lesson </h4>
		<ul>
			{% for lesson in current_lesson %}
				<p><a class= "btn btn-info" style = "width:200px; text-align:left;" href="/lessons/{{ lesson.id }}/">{{lesson.id}}. {{ lesson.lesson_name }}</a></p>
			{% endfor %}
		</ul>
	</div>
	<div class ="col-xs-4 col-centered">
		<h4 style="margin:15x;"> Future lessons </h4>
		<ul>
			{% for lesson in future_lessons %}
				<p><a class= "btn btn-info disabled" style = "width:200px; text-align:left;" >{{lesson.id}}. {{ lesson.lesson_name }}</a></p>
			{% endfor %}
		</ul>
	</div>
</div>
</div>

{% endblock %}