{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript"> var answerKey = {{answer_key|safe}}; </script>

<div style = "margin-left: 40%; margin-top: 30px; width: 20%">
		<a class ='btn btn-default' style = "width: 100%;" href = "/lessons/course/{{course.pk}}/">Course Overview: {{course.name}} </a>
</div>
	
<div class = "statusBar">
	<div class = "statusText"> Module {{module.index}} | {{module.name}} | <span id = "percentProgress"></span></div>
</div>
<div class = "lessonControl text-center">
	<div class = "lessonButton Back btn btn-default">Back</div>
	<div class = "lessonButton Next btn btn-default">Next</div>
</div>
	{{ content|safe|escape }}

<div class = "lessonHintsHeader btn">
	<div class = ""> Lesson Hints </div>
</div>
<div class = "lessonHintsContent Hide">
	{{hints|safe|escape}}
</div>

<div style="display:none" id="lesson_id"> {{lesson_id}} </div>

{% endblock %}


