{% extends "base.html" %}
{% load static %}

{% block content %}
<script type="text/javascript"> var answerKey = {{answer_key|safe}}; </script>

<a class = "btn btn-default" style = "display: block; margin: auto; margin-top: 5px; width: 33%; border-radius: 10px; white-space: nowrap; text-overflow: ellipsis;  overflow: hidden;" href = "/lessons/course/{{course.pk}}/">Course Home: {{course.name}} </a>

	
<div class = "statusBar">
	<div class = "statusText" style = "height: 30px;"> 
		<span class = "truncate" style = "display: inline-block; max-width: 400px; "> Module {{module.index}} | </span>
		<span class = "truncate" style = "display: inline-block; max-width: 400px; "> {{module.name}} </span>
		<span class = "truncate" style = "display: inline-block; max-width: 400px; "> | </span>
		<span id = "percentProgress" class = "truncate" style = "display: inline-block; max-width: 400px;"></span></div>
</div>

<div class = "btn lessonControlBtn" id = "Back" style = "left: 19%;"> &#9668 </div>
<div class = "btn lessonControlBtn" id = "Next" style = "right: 19%;" > &#9658 </div>

	{{ content|safe|escape }}

{% if hints != "" %}
<div class = "lessonHintsHeader btn">
	<div class = ""> Lesson Hints </div>
</div>
<div class = "lessonHintsContent Hide">
	{{hints|safe|escape}}
</div>
{% endif %}

<div style="display:none" id="lesson_id"> {{lesson_id}} </div>

{% endblock %}


