{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mysite/styles.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'mysite/js/jquery.js' %}"></script>
    <script src="{% static 'mysite/js/jquery.min.js' %}"></script>-->
    <script src="{% static 'mysite/js/login.js' %}"></script>
    <title> DeepDive </title>
</head>

<body background="{% static 'mysite/images/ocean2.JPG' %}">
	<div class = "circle">
		<div class = "logo">
			<img src = "{% static 'mysite/images/HorizontalLogo.png' %}" alt="diver logo" style="width: 500px; display: inline-block;">
		</div>
		<p></p>
		<div id = "loginForm">
			<input class = "loginInput" type = "text" id = 'username' placeholder = "username" tabindex = "1"><p></p>
			<input class = "loginInput" type = "password" id = 'password' placeholder = "password" tabindex = "2"> <p></p> 
			<div class = "red-text" id = "error"></div> 
			<button class="btn btn-info" id = "login" tabindex = "3"> Login </button>
			<button class="btn btn-info" id = "new_user" tabindex = "4"> New User </button>
		</div>
	</div>

	<div id = "newUserForm">
		<input class = "newUserInput" type = "text" id = 'new_first_name' placeholder = "first name" tabindex = "5"><p></p>
		<input class = "newUserInput" type = "text" id = 'new_last_name' placeholder = "last name" tabindex="6"><p></p>
		<input class = "newUserInput" type = "text" id = 'new_username' placeholder = "username" tabindex="7"><p></p>
		<input class = "newUserInput" type = "email" id = 'new_email' placeholder = "email" tabindex="8"><p></p>
		<input class = "newUserInput" type = "password" id = 'new_password' placeholder = "password" tabindex="9"><p></p> 
		<input class = "newUserInput" type = "password" id = 'new_confirmation' placeholder = "password" tabindex="10"><p></p> 
		<div class = "red-text" id = "newUserError"></div> 
		<button class="btn btn-info" id = "create_account" tabindex = "11"> Create account </button>
		<div class= "btn closeBox"> X </div>
	</div>

	<div id = "newUserSuccess">
		<div class = "btn-row" id = "newUserSuccessMsg"></div>
		<a class="btn btn-info btn-row" href="/lessons/"> Onwards! </a>
	</div>

	
	<div style = "position: absolute; bottom: 5px; width: 100%; text-align:center"> 
        <h6> Copyright 2015 </h6>
    </div>
</body>
</html>