{% extends "base.html" %}
{% load static %}

{% block content %}
	<script src="{% static 'mysite/js/my_courses.js' %}"></script>
	
	<div class = "courseTabs">
		<div class = "courseTab btn-row" id = "courseTab">
			<a class = "btn btn-link" style = "font-size: 16pt; font-weight: bold;" href='/lessons/'> My Courses </a>
		</div> 
		<div class = "courseTab btn-row"  id = "moduleTab" style = "background-color: #f1f1f4;">
			<div class = "btn btn-link" style = "font-size: 16pt; font-weight: bold;"> Search Courses </div>
		</div> 
	</div>
	<div class = "courseDisplayBlock">
		<div style = "max-height: 75vh; overflow: auto;">
		<script> function send() {document.search.submit()} </script>
        <form name = "search" action="/lessons/search/" method="post">
            <input class = "searchInput" style = "border: 1px grey solid; margin: -5px 0px 15px 0px; width: 300px;" type = "text" name = "search_input" placeholder = "&#128270 {{search}}" onUnfocus="send()">
        </form>
		{% if courses %}
			{% for course in courses %}
					<div class = "courseTile">
						<div class = "courseTileHeader">
							<div class = "truncate" style = "padding: 0px 30px 0px 0px; font-size: 24pt;height: 50px;"> {{course.name}} </div>
							{% if course.rating == "Not yet rated" %}
								<span style = "font-style: italic;"> {{course.rating}} </span>
							{% else %}
								<span style = "font-size: 20pt; color: yellow; background-color: grey; padding: 0px 5px 0px 10px; border-radius: 10px;"> 
								{% if course.rating > 4.5 %} <!-- show 5 stars -->
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9733</span>
								{% elif course.rating > 3.5 %} <!-- show 4 stars -->
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9734</span>
								{% elif course.rating > 2.5 %} <!-- show 3 stars -->
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9734</span>
									<span>&#9734</span>
								{% elif course.rating > 1.5 %} <!-- show 2 stars -->
									<span>&#9733</span>
									<span>&#9733</span>
									<span>&#9734</span>
									<span>&#9734</span>
									<span>&#9734</span>
								{% elif course.rating > 0.5 %} <!-- show 1 stars -->
									<span>&#9733</span>
									<span>&#9734</span>
									<span>&#9734</span>
									<span>&#9734</span>
									<span>&#9734</span>
								{% else  %} <!-- show 0 stars -->
									<span>&#9734</span>
									<span>&#9734</span>
									<span>&#9734</span>
									<span>&#9734</span>
									<span>&#9734</span>
								{% endif  %}
								</span>
								<span style = "font-style: italic; margin-left: 5px;"> ({{course.rating}} / 5) </span>
							{% endif %}
							{% if course.status = "Not enrolled" %}
							<span style = "margin-left: 30px; position: relative; z-index: 1;" class = "btn btn-primary addCourse highlight" id = "addCourse.{{course.pk}}"> Enroll </span>
							{% else %}
							<div style = "margin-left: 30px; position: relative; width: 250px; display: inline-block; background-color: lightgreen; border-radius: 5px; padding: 5px; text-align: center;"> You are currently enrolled </div>
							{% endif %}
						</div>
						<div class = "courseTileHalf courseTileLeft">
							<img src='{{course.logo}}' style = "height: 150px; width: 230px; overflow: none;">
							<p class = "courseTileRow truncate"> Genre: <strong>{{course.genre}} </strong></p>
							<p class = "courseTileRow"> Instructor: <strong>{{course.instructor | safe }} </strong></p>
							<p class = "courseTileRow"> Published: <strong>{{course.date_created}} </strong></p>
							<p class = "courseTileRow"> Students: <strong>{{course.enrolled}} </strong></p>
							<p class = "courseTileRow"> Modules: <strong>{{course.modules}} </strong></p>
						</div>
						<div class = "courseTileHalf courseTileRight">
							{{course.description | safe }}
						</div>
					</div>
			{% endfor %}
		{% else %}
			<h4> No results. Please try a different search! </h4>
		{% endif %}
	    </div>
	</div>

	{% if userProfile.logins == 0 %}
		<script src="{% static 'mysite/js/welcome.js' %}"></script>
		<div class = "welcomeBackground">
		</div>
		<div class = "welcomeBlock">
			<div style = "margin: 0% 5% 0% 5%;">
				<div id = "welcomeBlock-0">
					<h1> <strong> Welcome to DeepDive! </strong> </h1>	
					<br><img style = "height: 150px; text-align: center;" src="{% static 'mysite/images/welcome/logo.PNG' %}"></script><br><br>
					<h2> We're glad you're here! </h2>
					<h2 style = "color: grey;"> Get started with a quick orientation </h2>
				</div>
				<div class = "Hide" id = "welcomeBlock-1">
					<h1><strong> Step 1: Learn Something New </strong></h1>
					<br><img style = "height: 150px; text-align: center;" src="{% static 'mysite/images/welcome/bookshelf.JPG' %}"></script><br>
					<h2 style = "text-align: justify;"> Take a look through DeepDive's courses and enroll in one (or two or three) that match your interests </h2> 
					<h3 style = "color: grey; text-align: justify;"> Courses range from short topical overviews requiring under an hour to 'deep dives' (forgive the pun!) requiring days or weeks </h3>
				</div>
				<div class = "Hide" id = "welcomeBlock-2">
					<h1><strong> Step 2: Teach Something </strong></h1>
					<br><img style = "height: 150px; text-align: center;" src="{% static 'mysite/images/welcome/training.JPG' %}"></script><br>
					<h2 style = "text-align: justify;"> Create your own course! Include videos, pictures, and documents to spice up your content. Add quizzes and tests to ensure your students are learning </h2>
					<h3 style = "color: grey; text-align: justify;"> You'll find a detailed Course Creator orientation when you head over to the Teach section for the first time  </h3>
				</div>
				<div class = "Hide" id = "welcomeBlock-3">
					<h1><strong> Step 3: Analyze Your Data </strong></h1>
					<br><img style = "height: 150px; text-align: center;" src="{% static 'mysite/images/welcome/analyze.PNG' %}"></script><br>
					<h2 style = "text-align: justify;"> As students enroll in your courses, you'll accumulate performance and satisfaction data. Understand how your students are learning and use data to improve your courses </h2>
					<h3 style = "color: grey; text-align: justify;"> We've given you access to demo course data so you can see what analysis tools are available </h3>
				</div>
				<div class = "Hide" id = "welcomeBlock-4">
					<h1><strong> You've finished DeepDive orientation </strong></h1>
					<div class = "btn-info endWelcome" style = "font-size: 20pt; border-radius: 15px; padding: 25px; margin: 50px 0px 30px 0px;">  Sounds good - let's get started </div>
					<div class = "btn-info" style = "font-size: 20pt; border-radius: 15px; padding: 25px; margin: 50px 0px 30px 0px;">Take me through orientation one more time </div>
				</div>
			</div>
			<div class = "indexBalls">
				<div class = "indexBall indexBallHighlight" id = "indexBall-0">  </div>
				<div class = "indexBall" id = "indexBall-1">  </div>
				<div class = "indexBall" id = "indexBall-2">  </div>
				<div class = "indexBall" id = "indexBall-3">  </div>
				<div class = "indexBall" id = "indexBall-4">  </div>
			</div>
			<div class= "btn" id = "backBtn" style = "z-index: 3; position: absolute; top: 47%; margin-left: -67%; color: white; font-size: 90px; border-radius: 30px grey solid;" > 
				&#9668
			</div>
			<div class= "btn" id = "nextBtn" style = "z-index: 3; position: absolute; top: 47%; margin-left: 50%; color: white; font-size: 90px;" > 
				&#9658 
			</div>
			<div class= "btn" id = "welcomeCloseBox" style = "z-index: 3; top: 10px; right: 10px" > X </div>
		</div>
		
	{% endif %}

{% endblock %}