{% extends "base.html" %}

{% block content %}

<div style="padding:30px;text-align: left;">
{% if method = "GET" %}	
	<form action='/lessons/new_user/' method='post'>{% csrf_token %}
	{{ form.as_p }}
	<input class = "btn btn-info" type='submit' value='Submit' />
	</form>
	<div style="color: red; font-style: italic;"> {{error}} </div>

{% else %}

<p> Welcome {{user.username}} </p>
<p> Thank you for registering </p>
<p><a class='btn btn-info' href='/lessons/'> Proceed to Index </a><p>
{% endif %}
</div>	

{% endblock %}