{% extends "base.html" %}

{% block content %}

<div class = "profileBlock">
	<h2> User Details </h2>
	<table class="table col-md-6">
		<tr> 
			<td> Username: </td> 
			<td> {{user.username}} </td>
		</tr>
		<tr>
			<td> Name:  </td>
			<td> {{user.first_name}} {{user.last_name}} </td>
		</tr>	
		<tr>
			<td> Email: </td>
			<td> {{user.email}} </td>
		</tr>
	</table>
</div>
<div class = "profileBlock">
	<h2> Courses Completed: </h2>
	<table class ="table col-md-6">
		
			{% for completion in completions %}
				<tr><td>You passed {{completion.name }} with a score of {{completion.score}} on {{completion.date.date}}</td></tr>
			{% endfor %}
		
	</table>
</div>

{% endblock %}